<!DOCTYPE html>

<html>
<title>About</title>
<head>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Created by {{name}}</p>
        <img src="/img/man.jpeg" class="portrait">
    </div>
    {{>footer}}
</body>
</html>