<!DOCTYPE html>

<html>
<title>Help!</title>
<head>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <H1>Help</H1>
        <p>{{help}}</p>
    </div>
    {{>footer}}
</body>
</html>